
<div class="home-container">
   <div class="navbar-container">

    <div class="navbar-card-button">

      <div class="navbar-card-home">
        <button class="navbar-Home"><%= link_to "Home", home_path, class: "navbar-Home" %>
        </button>
      </div>

      <div class="navbar-card-about-me">
        <button class="navbar-about-me"><%= link_to "About", aboutme_path, class: "navbar-about-me" %>
        </button>
      </div>

      <div class="navbar-card-project">
        <button class="navbar-projects"><%= link_to "Projects", projects_path, class: "navbar-projects" %>
        </button>
      </div>

      <div class="navbar-card-contact">
        <button class="button"><%= link_to "Contact", contact_path, class: "navbar-contact" %>
        </button>
      </div>

    </div>

    <div class="dropdown">

      <button class="dropdown-toggle">Language</button>
      <div class="dropdown-menu">
        <a href="/home" class="dropdown-item"><%= image_tag "united-kingdom.png" %> English</a>
        <a href="/home_esp" class="dropdown-item"><%= image_tag "spain.png" %> Spanish</a>
        <a href="/home_por" class="dropdown-item"><%= image_tag "brazil.png" %> Portuguese</a>
        <a href="/home_fra" class="dropdown-item"><%= image_tag "france.png" %> French</a>
      </div>
    </div>
  </div>
  <div class="home-card-presentation">

    <div class="home-logo">
      <%= image_tag "paszkowicz.png" %>
    </div>

    <div class="home-card-paragraph">
      <h1><strong>Desarrollador Web Front-End</strong></h1>
      <p>Un desarrollador web front-end se especializa
      en crear las partes visibles de los sitios web o
      aplicaciones web con las que los usuarios
      interactúan directamente. Utilizan lenguajes
      como HTML para la estructura, CSS para el estilo
      y JavaScript para la interactividad. Su enfoque
      está en asegurar una experiencia de usuario fluida
      y visualmente atractiva en diferentes dispositivos
      y tamaños de pantalla. A menudo trabajan con
      frameworks como React.js o Angular para agilizar
      el desarrollo y colaboran estrechamente con
      diseñadores y desarrolladores back-end para
      integrar los elementos front-end de manera fluida.</p>
    </div>

  </div>

  <div class="home-card-h2">
    <h2>Habilidades</h2>
  </div>
  <div class="home-cards-skills-container">

    <div class="logos">
      <div class="logos-slide">
        <%= image_tag "ruby-on-rails.png" %>
        <%= image_tag "html.png" %>
        <%= image_tag "css.png" %>
        <%= image_tag "javascript.png" %>
        <%= image_tag "sql.png" %>
        <%= image_tag "figma.png" %>
        <%= image_tag "git.png" %>
        <%= image_tag "github.png" %>
        <%= image_tag "bootstrap.png" %>
        <%= image_tag "heroku.png" %>
      </div>

      <div class="logos-slide">
        <%= image_tag "ruby-on-rails.png" %>
        <%= image_tag "html.png" %>
        <%= image_tag "css.png" %>
        <%= image_tag "javascript.png" %>
        <%= image_tag "sql.png" %>
        <%= image_tag "figma.png" %>
        <%= image_tag "git.png" %>
        <%= image_tag "github.png" %>
        <%= image_tag "bootstrap.png" %>
        <%= image_tag "heroku.png" %>
      </div>
    </div>

  </div>
</div>
