<div class="navbar-container">

  <div class="navbar-card-button">

    <div class="navbar-card-home">
      <button class="navbar-Home"><%= link_to "Home", home_path, class: "navbar-Home" %>
      </button>
    </div>

    <div class="navbar-card-about-me">
      <button class="navbar-about-me"><%= link_to "About", aboutme_path, class: "navbar-about-me" %>
      </button>
    </div>

    <div class="navbar-card-project">
      <button class="navbar-projects"><%= link_to "Projects", projects_path, class: "navbar-projects" %>
      </button>
    </div>

    <div class="navbar-card-contact">
      <button class="button"><%= link_to "Contact", contact_path, class: "navbar-contact" %>
      </button>
    </div>

  </div>

  <div class="dropdown">

    <button class="dropdown-toggle">Language</button>
    <div class="dropdown-menu">
      <a href="/aboutme" class="dropdown-item"><%= image_tag "united-kingdom.png" %> English</a>
      <a href="/aboutme_esp" class="dropdown-item"><%= image_tag "spain.png" %> Spanish</a>
      <a href="/aboutme_por" class="dropdown-item"><%= image_tag "brazil.png" %> Portuguese</a>
      <a href="#" class="dropdown-item"><%= image_tag "france.png" %> French</a>

    </div>

  </div>

</div>


<div class="aboutme-container">
    <div class="nft">
      <div class='main'>
        <div class="main-image">
          <%= image_tag  "lewagon.jpg"%>
        </div>
        <h2>Le wagon</h2>
        <p class='description'>We're a team of Le Wagon France students</p>
      </div>
    </div>

  <div class="abuoutme-card-webdeveloper">
    <h2>As Web-Developpers</h2>
    <p>As full-stack web developers specialized in front-end development and backend, we possess a comprehensive
    skill set tailored towards crafting engaging and interactive user interfaces. With a solid foundation
    in HTML, CSS, and JavaScript, we've honed my abilities to create visually stunning and responsive web
    experiences that captivate users.</p>
    <p>Having a bootcamp intensive training at Le Wagon in Lille, France, we've been equipped with cutting-edge
    techniques and best practices in web development. Our expertise extends to leveraging various
    libraries and frameworks to streamline development processes
    and enhance the functionality of web applications.</p>
    <p>In addition to our technical proficiency, we bring a creative mindset and a keen eye for design
    aesthetics to every project we undertake. Whether it's implementing complex UI components, optimizing
    performance, or ensuring cross-browser compatibility, we thrive on overcoming challenges and delivering
    solutions that exceed client expectations.</p>
    <p>Our dedication to staying abreast of industry trends and continuously expanding our skills set ensures
    that we remain at the forefront, front-end development and back-end. With a passion for innovation and a commitment to
    excellence, we are poised to contribute effectively to projects that demand top-tier front-end development
    expertise.</p>
  </div>

</div>
