<div class="home-container">

  <div class="home-card-presentation">

    <div class="home-card-title">
    <h1><strong>Web-Developer Front-End</strong></h1>
    </div>

    <div class="home-card-paragraph">
    <p>My name is Washington, I'm a web developer front-end, I'm passionate about web development, I'm always looking for new challenges and learning new technologies.</p>
    </div>

  </div>

  <div class="home-card-h2">
  <h2>Skills</h2>
  </div>

  <div class="container-card-skills-1">

    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "ruby-on-rails.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>Ruby on rails</h2>
      </div>
    </div>

    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "html.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>HTML 5</h2>
      </div>
    </div>

    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "css.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>CSS 3</h2>
      </div>
    </div>

    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "javascript.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>JavaScript</h2>
      </div>
    </div>

    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "sql.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>SQL</h2>
      </div>
    </div>
  </div>

  <div class="container-card-skills-2">
    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "bootstrap.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>Bootstrap</h2>
      </div>
    </div>

    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "figma.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>Figma</h2>
      </div>
    </div>

    <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "git.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>Git</h2>
      </div>
    </div>

     <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "github.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>GitHub</h2>
      </div>
    </div>

         <div class="card-skills">
      <div class="card-skills-image">
        <%= image_tag  "heroku.png"%>
      </div>

      <div class="card-skills-h2">
        <h2>Heroku</h2>
      </div>
    </div>


  </div>

</div>
