<%# HTML correspondiente al Home eng %>
<title>Paszkowicz-group</title>

<%# division correspondiente al contenedor general de la pagina %>
<div class="home-container">

  <%# division correspondiente al contenedor de la barra de navegacion %>
  <div class="navbar-container">

    <div class="navbar-card-button">

      <div class="navbar-card-home">
        <button class="navbar-home"><%= link_to "Home", home_path, class: "navbar-Home" %>
        </button>
      </div>

      <div class="navbar-card-about-me">
        <button class="navbar-about-me"><%= link_to "About", aboutme_path, class: "navbar-about-me" %>
        </button>
      </div>

      <div class="navbar-card-project">
        <button class="navbar-projects"><%= link_to "Projects", projects_path, class: "navbar-projects" %>
        </button>
      </div>

      <div class="navbar-card-contact">
        <button class="navbar-button-contact"><%= link_to "Contact", contact_path, class: "navbar-contact" %>
        </button>
      </div>

    </div>

    <%# parte delantera de la navbar correspondiente a los idiomas %>
    <div class="navbar-right-card">

      <div class="dropdown">

        <button class="dropdown-toggle"><%= image_tag "united-kingdom.png" %> Language</button>
        <div class="dropdown-menu">
          <a href="/home" class="dropdown-item"><%= image_tag "united-kingdom.png" %> English</a>
          <a href="/home_esp" class="dropdown-item"><%= image_tag "spain.png" %> Spanish</a>
          <a href="/home_por" class="dropdown-item"><%= image_tag "brazil.png" %> Portuguese</a>
          <a href="/home_fra" class="dropdown-item"><%= image_tag "france.png" %> French</a>
        </div>
      </div>

    </div>
  </div>

  <%# division correspondiente al contenedor de la presentacion %>
  <div class="home-card-presentation">

    <div class="home-logo">
      <%= image_tag  "paszkowicz.png"%>
    </div>

    <div class="home-card-paragraph">
      <h1><strong>Web-Developer Front-End</strong></h1>
      <p>A front-end web developer specializes in creating
      the visible parts of websites or web applications that
      users interact with directly. They use languages like
      HTML for structure, CSS for styling, and JavaScript
      for interactivity. Their focus is on ensuring a smooth,
      visually appealing user experience across different
      devices and screen sizes. They often work with frameworks
      like React.js or Angular to streamline development and
      collaborate closely with designers and back-end developers
      to integrate front-end elements seamlessly.</p>
    </div>

  </div>

  <%# division correspondiente al titulo de skills %>
  <div class="home-card-h2">
   <h2>Skills</h2>
  </div>

  <%# division correspondiente al slide carrousel de skills %>
  <div class="home-cards-skills-container">

    <div class="logos">
      <div class="logos-slide">
        <%= image_tag  "ruby-on-rails.png"%>
        <%= image_tag  "html.png"%>
        <%= image_tag  "css.png"%>
        <%= image_tag  "javascript.png"%>
        <%= image_tag  "sql.png"%>
        <%= image_tag  "figma.png"%>
        <%= image_tag  "git.png"%>
        <%= image_tag  "github.png"%>
        <%= image_tag  "bootstrap.png"%>
        <%= image_tag  "heroku.png"%>
      </div>

      <div class="logos-slide">
        <%= image_tag  "ruby-on-rails.png"%>
        <%= image_tag  "html.png"%>
        <%= image_tag  "css.png"%>
        <%= image_tag  "javascript.png"%>
        <%= image_tag  "sql.png"%>
        <%= image_tag  "figma.png"%>
        <%= image_tag  "git.png"%>
        <%= image_tag  "github.png"%>
        <%= image_tag  "bootstrap.png"%>
        <%= image_tag  "heroku.png"%>
      </div>
    </div>

  </div>

  <br>

</div>
