<title>Paszkowicz-Group</title>

<div class="home-container">

  <!-- Navigation bar -->
  <%= render 'layouts/navbar' %>

  <!-- Home presentation -->
  <div class="home-presentation">
    <div class="profile-card">
      <div class="profile-image">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1727608993/Wash%20portfolio/paszkowicz_gzw43e.png" alt="Paszkowicz group">      </div>
      <div class="profile-text">
        <!-- Add content here -->
      </div>
    </div>
  </div>

  <!-- About section -->
  <div class="about">
    <%= render 'pages/aboutme' %>
  </div>

  <!-- Projects section -->
  <div class="projects">
    <%= render 'pages/projects' %>
  </div>

  <!-- Contact section -->
  <div class="contact">
    <%= render 'pages/contact' %>
  </div>

  <!-- Footer -->
  <%= render 'layouts/footer' %>

  <!-- JavaScript for presentation transition -->
  <script>
    let lastScrollTop = 0;
    const homePresentation = document.querySelector('.home-presentation');

    const onScroll = () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > lastScrollTop) {
        homePresentation.classList.add('hidden');
      } else {
        homePresentation.classList.remove('hidden');
      }
      lastScrollTop = Math.max(0, scrollTop);
    };

    window.addEventListener('scroll', debounce(onScroll, 100));
  </script>

</div>
