<div class="home-container">

  <div class="home-card-presentation">

    <div class="home-card-title">
    <h1><strong>Web-Developer Front-End</strong></h1>
    </div>

    <div class="home-card-paragraph">
    <p>My name is Washington, I'm a web developer front-end, I'm passionate about web development, I'm always looking for new challenges and learning new technologies.</p>
    </div>

  </div>

  <div class="home-card-h2">
  <h2>Skills</h2>
  </div>
  <div class="home-cards-skills-container">

    <div class="card-skills-container-1">

      <div class="card">
        <div class="image">
          <%= image_tag  "ruby-on-rails.png"%>
        </div>
        <div class="card-h">
          <h3>Ruby on rails</h3>
        </div>
      </div>

<div class="card">
        <div class="image">
          <%= image_tag  "html.png"%>
        </div>
        <div class="card-h">
          <h3>HTML-5</h3>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <%= image_tag  "css.png"%>
        </div>
        <div class="card-h">
          <h3>CSS3</h3>
        </div>
      </div>

       <div class="card">
        <div class="image">
          <%= image_tag  "javascript.png"%>
        </div>
        <div class="card-h">
          <h3>JavaScript</h3>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <%= image_tag  "sql.png"%>
        </div>
        <div class="card-h">
          <h3>SQL</h3>
        </div>
      </div>

    </div>

    <div class="card-skills-container-2">

      <div class="card">
        <div class="image">
          <%= image_tag  "figma.png"%>
        </div>
        <div class="card-h">
        <h3>Figma</h3>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <%= image_tag  "git.png"%>
        </div>
        <div class="card-h">
        <h3>Git</h3>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <%= image_tag  "github.png"%>
        </div>
        <div class="card-h">
        <h3>GitHub</h3>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <%= image_tag  "bootstrap.png"%>
        </div>
        <div class="card-h">
        <h3>Bootstrap</h3>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <%= image_tag  "heroku.png"%>
        </div>
        <div class="card-h">
        <h3>Heroku</h3>
        </div>
      </div>




    </div>

  </div>

</div>
