<%# HTML correspondiente a proyectos en ingles %>
<title>Projects</title>

<%# division general del cuerpo %>
<div class="projects-container">

  <%# division correspondiente a la barra de navegacion en ingles %>
  <div class="navbar-container">

    <%# division correspondiente a la parte izquierda de la navbar, botones %>
    <div class="navbar-card-button">

      <div class="navbar-card-home">
        <button class="navbar-home"><%= link_to "Home", home_path, class: "navbar-Home" %>
        </button>
      </div>

      <div class="navbar-card-about-me">
        <button class="navbar-about-me"><%= link_to "About", aboutme_path, class: "navbar-about-me" %>
        </button>
      </div>

      <div class="navbar-card-project">
        <button class="navbar-projects"><%= link_to "Projects", projects_path, class: "navbar-projects" %>
        </button>
      </div>

      <div class="navbar-card-contact">
        <button class="navbar-button-contact"><%= link_to "Contact", contact_path, class: "navbar-contact" %>
        </button>
      </div>

    </div>

    <%# parte derecha de la navbar correspondiente a los idiomas %>
    <div class="dropdown">

      <button class="dropdown-toggle"><%= image_tag "united-kingdom.png" %> Language</button>
      <div class="dropdown-menu">
        <a href="/projects" class="dropdown-item"><%= image_tag "united-kingdom.png" %> English</a>
        <a href="/projects_esp" class="dropdown-item"><%= image_tag "spain.png" %> Spanish</a>
        <a href="/projects_por" class="dropdown-item"><%= image_tag "brazil.png" %> Portuguese</a>
        <a href="/projects_fra" class="dropdown-item"><%= image_tag "france.png" %> French</a>
      </div>
    </div>
  </div>

  <div class="nft">
    <div class='main'>
      <div class="main-image">
        <%= image_tag "github.png" %>
      </div>
      <a href="https://github.com/Washington-1991" target="blank" ><i class="fa-brands fa-github"></i> Github</a>
      <p class='description'>Let's take a look on my github</p>
    </div>
  </div>

  <%# division correspondiente a la presentacion de los proyectos en ingles %>
  <div class="project-presentation">
    <h1>Projects</h1>
    <p>"Here are all the projects that we've created or contributed to.
    Spanning a diverse range of fields and interests, our portfolio
    reflects a dedication to innovation and collaboration. Whether it's building intuitive mobile
    applications, designing impactful marketing campaigns, or
    contributing code to open-source initiatives, we take pride in
    delivering results that make a difference. Explore this collection
    of endeavors, each one a testament to our commitment to excellence
    and our enthusiasm for pushing boundaries.".</p>
  </div>

  <%# Division correspondiente a proyectos fullstack %>
  <div class="projects-card-fullstack">
    <div class="projects-card-fullstack-title"><h2>Fullstack Projects</h2>
    </div>

    <div class="nft-container">

      <%# Carta correspondiente a HIVE %>
      <div class="nft">
        <div class='main'>
          <div class="main-image">
           <%= image_tag "hive-logo-png.png"%>
          </div>
          <h2>Hive</h2>
          <p class='description'>A sport App dedicated for people in situation of overweight.</p>
        </div>
      </div>

    <%# Carta correspondiente a Lithosophie %>
      <div class="nft">
        <div class='main'>
          <div class="main-image">
           <%= image_tag "logo-lithosophie.png"%>
          </div>
          <h2>Lithosophie</h2>
          <p class='description'>Page dedicated to sell products</p>
        </div>
      </div>

    <%# Carta correspondiente a EventBnB %>
      <div class="nft">
        <div class='main'>
          <div class="main-image">
           <%= image_tag "eventbnb-logo.png"%>
          </div>
          <h2>EventBnB</h2>
          <p class='description'>An App dedicated to rent places for filming.</p>
        </div>
      </div>

    </div>

  </div>

</div>
