<div class="contact-container">
  <div class="navbar-container">

    <div class="navbar-card-button">

      <div class="navbar-card-home">
        <button class="navbar-Home"><%= link_to "Início", home_por_path, class: "navbar-Home" %>
        </button>
      </div>

      <div class="navbar-card-about-me">
        <button class="navbar-about-me"><%= link_to "Sobre nos", aboutme_por_path, class: "navbar-about-me" %>
        </button>
      </div>

      <div class="navbar-card-project">
        <button class="navbar-projects"><%= link_to "Projetos", projects_por_path, class: "navbar-projects" %>
        </button>
      </div>

      <div class="navbar-card-contact">
        <button class="button"><%= link_to "Contacte-nos", contact_por_path, class: "navbar-contact" %>
        </button>
      </div>

    </div>

    <div class="dropdown">

      <button class="dropdown-toggle"><%= image_tag "brazil.png" %> Língua</button>
      <div class="dropdown-menu">
        <a href="/home" class="dropdown-item"><%= image_tag "united-kingdom.png" %> Inglês</a>
        <a href="/home_esp" class="dropdown-item"><%= image_tag "spain.png" %> Espanhol</a>
        <a href="/home_por" class="dropdown-item"><%= image_tag "brazil.png" %> Português</a>
        <a href="/home_fra" class="dropdown-item"><%= image_tag "france.png" %> Francês</a>
      </div>
    </div>
  </div>

  <div class="contact-title">
    <h1>Como nos contactar?</h1>
  </div>

  <div class="contact-info">

      <p class="whatsapp"><i class="fa-brands fa-whatsapp"></i> +33 7 69 91 19 25</p>
      <a href="https://github.com/Washington-1991" class="Github" target="blank"><i class="fa-brands fa-github"></i> Github</a>
      <a href="https://www.linkedin.com/in/washington-arambillete-garcia-4b8b70169/" class="Linkedin" target="blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
      <a href="https://www.instagram.com/paszkowicz.group.webdev/" class="Instagram" target="blank"><i class="fa-brands fa-instagram"></i> Instagram</a>

  </div>

</div>
