<%# HTML correspondiente al Home fra %>
<title>Paszkowicz-group</title>

<%# division correspondiente a home fra %>
<div class="home-container">

  <%# barra de navegacion eng %>
  <div class="navbar-container">

    <div class="navbar-card-button">

      <div class="navbar-card-home">
        <button class="navbar-Home">
          <%= link_to "Accueil", home_path, class: "navbar-Home" %>
        </button>
      </div>

      <div class="navbar-card-about-me">
        <button class="navbar-about-me">
          <%= link_to "À propos", aboutme_path, class: "navbar-about-me" %>
        </button>
      </div>

      <div class="navbar-card-project">
        <button class="navbar-projects">
          <%= link_to "Projets", projects_path, class: "navbar-projects" %>
        </button>
      </div>

      <div class="navbar-card-contact">
        <button class="button">
          <%= link_to "Contact", contact_path, class: "navbar-contact" %>
        </button>
      </div>

    </div>

    <div class="dropdown">

      <button class="dropdown-toggle">Langue</button>
      <div class="dropdown-menu">
        <a href="/home" class="dropdown-item"><%= image_tag "united-kingdom.png" %> Anglais</a>
        <a href="/home_esp" class="dropdown-item"><%= image_tag "spain.png" %> Espagnol</a>
        <a href="/home_por" class="dropdown-item"><%= image_tag "brazil.png" %> Portugais</a>
        <a href="/home_fra" class="dropdown-item"><%= image_tag "france.png" %> Français</a>

      </div>

    </div>

  </div>

  <%# division correspondiente a la presentacion %>
  <div class="home-presentation">
    <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1727608998/Wash%20portfolio/owl_vccokp.png" alt="Owl">
  </div>

  <%# slide de skills %>
  <div class="home-card-h2">
    <h2>Habilidades</h2>
  </div>

  <div class="home-cards-skills-container">

    <div class="logos">
      <div class="logos-slide">
        <%= image_tag "ruby-on-rails.png" %>
        <%= image_tag "html.png" %>
        <%= image_tag "css.png" %>
        <%= image_tag "javascript.png" %>
        <%= image_tag "sql.png" %>
        <%= image_tag "figma.png" %>
        <%= image_tag "git.png" %>
        <%= image_tag "github.png" %>
        <%= image_tag "bootstrap.png" %>
        <%= image_tag "heroku.png" %>
      </div>

      <div class="logos-slide">
        <%= image_tag "ruby-on-rails.png" %>
        <%= image_tag "html.png" %>
        <%= image_tag "css.png" %>
        <%= image_tag "javascript.png" %>
        <%= image_tag "sql.png" %>
        <%= image_tag "figma.png" %>
        <%= image_tag "git.png" %>
        <%= image_tag "github.png" %>
        <%= image_tag "bootstrap.png" %>
        <%= image_tag "heroku.png" %>
      </div>
    </div>

  </div>





</div>
