<div class="home-container">

  <div class="home-logo">
    <%= image_tag "paszkowicz.png" %>
  </div>

  <div class="home-card-presentation">

    <div class="home-card-title">
      <h1><strong>Développeur Web Front-End</strong></h1>
    </div>

    <div class="home-card-paragraph">
      <p>Un développeur web front-end se spécialise dans la création
      des parties visibles des sites web ou des applications web avec lesquelles
      les utilisateurs interagissent directement. Ils utilisent des langages comme
      HTML pour la structure, CSS pour le style et JavaScript
      pour l'interactivité. Leur objectif est d'assurer une expérience utilisateur fluide
      et visuellement attrayante sur différents appareils et tailles d'écran.
      Ils travaillent souvent avec des frameworks comme React.js ou Angular pour rationaliser le développement
      et collaborent étroitement avec les designers et les développeurs back-end
      pour intégrer parfaitement les éléments front-end.</p>
    </div>

  </div>

  <div class="home-card-h2">
    <h2>Compétences</h2>
  </div>
  <div class="home-cards-skills-container">

    <div class="logos">
      <div class="logos-slide">
        <%= image_tag "ruby-on-rails.png" %>
        <%= image_tag "html.png" %>
        <%= image_tag "css.png" %>
        <%= image_tag "javascript.png" %>
        <%= image_tag "sql.png" %>
        <%= image_tag "figma.png" %>
        <%= image_tag "git.png" %>
        <%= image_tag "github.png" %>
        <%= image_tag "bootstrap.png" %>
        <%= image_tag "heroku.png" %>
      </div>
      <div class="logos-slide">
        <%= image_tag "ruby-on-rails.png" %>
        <%= image_tag "html.png" %>
        <%= image_tag "css.png" %>
        <%= image_tag "javascript.png" %>
        <%= image_tag "sql.png" %>
        <%= image_tag "figma.png" %>
        <%= image_tag "git.png" %>
        <%= image_tag "github.png" %>
        <%= image_tag "bootstrap.png" %>
        <%= image_tag "heroku.png" %>
      </div>
    </div>

  </div>
</div>
