<%# HTML correspondiente al carrousel %>

<div class="carrousel-container">
   <h2>Skills</h2>
  </div>
  <div class="skills-container">

    <div class="logos">
      <div class="logos-slide">
        <%= image_tag  "ruby-on-rails.png"%>
        <%= image_tag  "html.png"%>
        <%= image_tag  "css.png"%>
        <%= image_tag  "javascript.png"%>
        <%= image_tag  "sql.png"%>
        <%= image_tag  "figma.png"%>
        <%= image_tag  "git.png"%>
        <%= image_tag  "github.png"%>
        <%= image_tag  "bootstrap.png"%>
        <%= image_tag  "heroku.png"%>
      </div>
      <div class="logos-slide">
        <%= image_tag  "ruby-on-rails.png"%>
        <%= image_tag  "html.png"%>
        <%= image_tag  "css.png"%>
        <%= image_tag  "javascript.png"%>
        <%= image_tag  "sql.png"%>
        <%= image_tag  "figma.png"%>
        <%= image_tag  "git.png"%>
        <%= image_tag  "github.png"%>
        <%= image_tag  "bootstrap.png"%>
        <%= image_tag  "heroku.png"%>
      </div>
    </div>
  </div>
