<h1 class="header">Skills</h1>

<div class="scroller">
  <ul class="img-list scroller__inner">
    <li>
      <%= image_tag  "bootstrap.png"%>
    </li>
    <li>
      <%= image_tag  "css.png"%>
    </li>
    <li>
      <%= image_tag  "figma.png"%>
    </li>
     <li>
      <%= image_tag  "git.png"%>
    </li>
      <li>
      <%= image_tag  "github.png"%>
    </li>
      <li>
      <%= image_tag  "heroku.png"%>
    </li>
    <li>
      <%= image_tag  "html.png"%>
    </li>
    <li>
      <%= image_tag  "javascript.png"%>
    </li>
    <li>
      <%= image_tag  "ruby-on-rails.png"%>
    </li>
      <li>
      <%= image_tag  "sql.png"%>
    </li>
  </ul>

</div>
